.genres {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px auto;
}
.genres form {
  width: 290px;
  margin-bottom: 20px;
}
.genres label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.genres input,
button {
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
}
.genres input {
  width: 210px;
}
.genres button {
  width: 70px;
  background: #287194;
  color: white;
  margin-left: 10px;
}
.genres_delete {
  background: #a50221 !important;
}
.genres .row {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 1060px) {
  .genres {
    margin-top: 90px;
  }
}
